#myContent{
    position: fixed;
    width: fit-content;
    z-index: 10000;
    height: fit-content;
    border-radius: 10px;
    right: 0px;
}

#toggle{

    border-radius: 5px;
    border: #6610f2;
}

#tabs{
    min-width: 300px;
    max-width: 1200px;
    max-height: 600px;
    height: 270px;
    min-height: 100px;
    z-index: 100000;
    overflow: scroll;
}

.draggable{
    cursor: move;
}
.bb-compile{
    position:  fixed !important;
    z-index: 1000000;
    bottom: 85px;
    right: 80px;
}

.bb-submit{
    position:  fixed !important;
    z-index: 1000000;
    bottom: 37px;
    right: 90px;
}
#goToEditor{
    position:  fixed;
    z-index: 1000000;
    bottom: 85px;
    right: 190px;
    padding-right: 4px;
    padding-left: 4px;
    height: 40px;

}

#floatArea{
    max-width: 100px;
    position: fixed;
    z-index: 100000000;
    bottom: 20px;
    right: 0px;
}

#btnSaveFile{
    margin-left: 5px;
    background-color: #28a745;
    width: fit-content;
    height: fit-content;
    padding: 18px 6px;
    border-radius: 50%;
}


.col-12{
    margin: 10px 0;
    align-items: center;
}

textarea{
    max-width: 600px;
    min-width: 300px;
}


#input_file_Extension,
#input_start_number {
    max-width: 10rem;
}
